<div *ngIf="game">
    
<h2>hola</h2>

<h2>{{game.name}}</h2>
<img src="{{game.cover}}" alt="">
<p>{{game.price}}</p>
<p>{{game.year}}</p>
<p>{{game.platforms}}</p>
<p>{{game.description}}</p> 

</div>

