<div class="page">
  
  
  <div class="card">
    <h2 class="card__title">{{canEdit ? 'Actualizar juego' : 'Crear nuevo juego'}}</h2>
  
    <form class="-form" (submit)="createNewGame()" *ngIf="gameForm" [formGroup]="gameForm">
  
      <div class="-form__field mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
        <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        formControlName="name"
        name="name"
        >
  
        <p
        *ngIf="!gameForm.get('name')?.valid && gameForm.get('name')?.dirty"
        [ngStyle]="{ color: 'red' }">
        Escribe el nombre de juego
      </p>
  
      </div>

      <select formControlName="platforms" class="-form__field form-select" multiple aria-label="multiple select example">
        <option value="xbox 360">Xbox 360</option>
        <option value="xbox one">Xbox One</option>
        <option value="xbox series X/S">Xbox Series X/S</option>
        
      </select>

      <div class="-form__field mb-3">
        <label for="exampleFormControlInput1" class="form-label">precio</label>
        <input
        type="number"
        class="form-control"
        id="exampleFormControlInput1"
        formControlName="price"
        name="price"
        >

      </div>
  
      <div>
        <label>Año:</label>
        <input formControlName="year" type="number" name="year" />
      </div>
  
      <div>
        <label>Genero:</label>
        <input formControlName="genre" type="text" name="genre" />
      </div>
  
      <div>
        <label>descripcion:</label>
        <input formControlName="description" type="text" name="description" />
      </div>
  
      <div>
        <label>Portada:</label>
        <input formControlName="cover" type="text" name="cover" />
      </div>

      <div>
        <label>imagen 1:</label>
        <input formControlName="imageDetails1" type="text" name="imageDetails" />
      </div>
  
      <button type="submit">Guardar</button>
  
    </form>
  </div>
</div>
