.page{
  background-color: aqua;
  height: 600px;
  display: flex;

  
}

.card{
  top: 10%;
  margin-left: 50%;
  background-color: aquamarine;
  align-content: center;
  display: flex;
  width: 500px;
  height: 500px;

  &__title{
    margin-top: 30px;
    text-align: center;
  }

}

.-form{
  align-content: center;
  display: flex;
  flex-wrap: wrap;

  &__field{

    margin-left: 50px;

    width: 400px;
  }

  &__select { 
    margin-top: 20000px;
  }
}