<nav class="navContainer">
    <div class="logos">
        <img class="logos__sub" src="../../../../assets/image/social.png" alt="logo">
        
        
        <div class="logos__links">
            <img src="../../../../assets/image/1280px-PlayStation_logo.svg.png" alt="logoPlay">
            <img src="../../../../assets/image/Xbox-Logo-PNG-Pic.png" alt="logoXbox">
            
        </div>
       
        <div class="logos__name">
            
            GameStore

        </div>


    </div>
    
    <div class="navBar">
    
        <ul class="navBar__menu">
            <li (click)=" offCanEdit()"><p class="navBar__menu__link" [routerLink]="['home']" [routerLinkActive]="['is-active']" >Inicio</p></li>
            <li (click)=" offCanEdit()"><p class="navBar__menu__link" [routerLink]="['games']" [routerLinkActive]="['is-active']" >Juegos</p></li>
            <li><p class="navBar__menu__link" [routerLink]="['new-game']" [routerLinkActive]="['is-active']">
                {{canEdit ? 'Actualizar juego'  : 'Nuevo juego'}}
            </p></li>
        </ul>
    </div>

    <div class="storeMenu">
        <ul class="storeMenu__icons">
            <li>Iniciar sesion</li>
            <li>registrarse</li>
        </ul>
    </div>
</nav>






    <!-- <div class="logo">
        <img src="../../../../assets/image/social.png" alt="">
    </div>
    
        <div class="navBar">
            <img src="" alt="">
            <a class="navBar__menu " [routerLink]="['']" >Inicio</a>
            <a class="navBar__menu" [routerLink]="['games']">Juegos</a>
            <a class="navBar__menu" [routerLink]="['new-game']">Nuevo Juego</a>
        </div>
    
 -->

