*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.is-active{
text-decoration: underline solid rgb(81, 81, 81) 2px;
text-underline-offset: 4px;
pointer-events: none;
cursor: default;

}


.navContainer {
    display: flex;
    justify-content: space-evenly;
    
    width: 100%;
    align-content: center;
    flex-wrap: wrap;
}

.logos {

    display: flex;
    justify-content: center;
    align-items: center;

   


        &__sub {
            border-radius: 15px;
            width: 40px;
            height: 40px;
        }


        &__links {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 100px;
        }

        &__links img {

            width: 25px;
            height: 25px;
        }

        &__disabled {
            pointer-events: none;
            cursor: default;
         }

        &__name{
            font-size: 150%;
            font-weight: bold;
        }

     

   
}


.navBar {
    display: flex;
   
    align-content: center;
    align-items: center;
 

    &__menu{
        margin-top: 20px;
        display: flex;


        list-style: none;


        &__link {
            padding: 0px 25px;
            color: black;
            cursor: pointer;
            transition: color .2s;

        }

        &__link:hover {

            color: rgb(123, 123, 123);
            text-decoration: underline solid rgb(81, 81, 81) 2px;
            text-underline-offset: 4px;

         
        }
    }
}

.storeMenu {
    display: flex;
    align-content: center;
    align-items: center;
   
&__icons{
    margin-top: 10px;
    display: flex;




}

&__icons li{
    list-style: none; 
    padding: 0px 25px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: color .2s;


}

&__icons li:hover {

    color: rgb(123, 123, 123);
    text-decoration: underline solid rgb(81, 81, 81) 2px;
    text-underline-offset: 4px;
}


    
}











//.content {
//     width: 100%;
//     height: 50px;
//     display: flex;
//     align-items: center;
//     align-content: center;
// }

// .logo img{
//     width: 35px;
//     height: 35px;
//     border-radius: 10px;
//     background-color: rgb(0, 255, 89);
// }



// .navBar{
   
//     display: flex;
//     align-items: center;
//     align-content: center;
//     justify-content: space-between;
    
// &__menu {

//     margin-left: 30px;
//     text-decoration: none;
//     color: black;
//     cursor: pointer;
//     transition: color .2s;
    


    

// }

// &__menu:hover {


//     color: rgb(123, 123, 123);
//     text-decoration: underline solid rgb(81, 81, 81) 2px;
//     text-underline-offset: 4px;
    



// }
    
// }