

<div *ngIf="isActiveDetail" >
  
    <app-modal-detail (closeModal) = "off($event)" ></app-modal-detail>

</div>

    <input 
     type="text" 
     name="filterGame" 
     class="search"
     placeholder="Buscar"
     [(ngModel)]="filterGame"
     >


 <div class="gameContainer__game">

    <div></div>
    
        <div class="gameContainer__game__list ">
            <app-games *ngFor="let game of games | filter:filterGame" [games]="game">
            </app-games>
        </div>
    
    
    </div>
