.search {

margin-left: 35%;
width: 30%;
margin-bottom: 40px;


}



.gameContainer {

    &__game{

        &__list {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center
      
        
       }

   }



}


    








