<div  class="-container">
  <div  class="-card">
    <div class="-card__text">
      <button (click)="editGame()" class="-card__text__edit">Editar</button>

      <div>
        <!-- <h2>{{ gamesSelect.name }}</h2> -->
      </div>

      <div class="-card__text__plat">
        <!-- <p>{{ gamesSelect.platforms[0] }}</p>
        <p>{{ gamesSelect.platforms[1] }}</p>
        <p *ngIf="gamesSelect.platforms[2]">{{ gamesSelect.platforms[2] }}</p> -->
      </div>

      <div class="-card__text__des">
        <!-- <p>{{ gamesSelect.description }}</p> -->
      </div>

      <div class="-card__text__dates">
        <!-- <p>Fecha de lanzamiento: {{ gamesSelect.year }}</p>
        <p>Genero: {{ gamesSelect.genre }}</p> -->
      </div>

      <div class="-card__text__price">
        <!-- <p>{{ gamesSelect.price }} €</p> -->
      </div>

      <div class="-card__text__butinf">
        <button (click)="detailButton()">MAS INFORMACION</button>
      </div>
    </div>

    <div class="-card__image">
      <!-- <img src="{{ gamesSelect.imageDetails1 }}" alt="" /> -->
      <button (click)="closeModalDetail()">X</button>
    </div>
  </div>
</div>

<!-- <button
      (click)="editGame()">Editar</button> -->
