body{

    overflow: hidden;

}


*{
   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body.-container{
    overflow: hidden;
}

.-container{
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;   

}

.-card{

    box-shadow: 5px 5px 5px #000;
    display: flex;
    background-color: rgb(249, 247, 247);
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 2%;
    margin-bottom: 25%;

    &__text{
        
        width: 100%;
        height: 100%;


       &__edit{

        margin-top: 4%;
        margin-left: 4%;
        border: 0cm;
        transition: 0.2s;
       }

       
       &__edit:hover{
        
        background-color: #d0cccc;

        
       }
       
        &__plat{

        margin-top: 10% ;
        display: flex;
        justify-content: space-evenly;
        align-content: center;
            
        }

        &__plat p{
            
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35%;
            height: 35px;
            margin-top: 3%;
            font-size: 90%;
            text-transform: capitalize;
            background-color: rgb(212, 212, 212);
            border-radius: 30px;
            white-space: nowrap;


            
        }


        &__des{

            display: flex;



      
        }

        &__des p{

            margin-left: 4%;
            margin-right: 4%;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
        }


        &__dates{

            display: flex;
            flex-wrap: wrap;


        }

        &__dates p{

            margin-left: 4%;
            
        }


        &__price p{

            font-size: 170% ;
            margin-left: 4%;  
            font-weight: bold;  

         }

        &__butinf{

            display: flex;
            align-content: center;  
            width: 100%;
            height: 5%;
        


        }

        &__butinf button{
            margin-left: 10px;
            width: 50%;
            background-color: rgb(46, 46, 47);
            border: 0cm;
            color: rgb(255, 255, 255);
            transition: 0.3s;
            font-weight: bold;
            white-space: nowrap;
            

        }

        &__butinf button:hover{
           
        box-shadow: 2px 2px 2px #323232;
        text-decoration: underline;

        }

    }

  

 &__text h2 {
 text-align: center;
 font-size: 200%;
 text-transform: capitalize;
 

 }


 &__image {

       
    display: flex;
    justify-content:flex-end;

    }
    

&__image img {
    display: flex;
 
    width: 100%;

    }

    &__image button{


       width: 35px;
       height: 35px;
       position: fixed;
       margin-top: 10px;
       margin-right: 10px;
       border-radius: 50px;
       opacity: 0.6;
       cursor: pointer;
       transition: 0.3s;


     }

     &__image button:hover{
      
        opacity: 1;
      }

}

