.game { 
    margin-right: 100px;
    width: 220px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    


 &__link{

    

    &__image {
        
        
        cursor: pointer;
        width: 200px;
        height: 300px;
        transition: 0.2s;
    }

    &__image:hover {

        width: 220px;
        height: 340px;    
      
        
    }
 }

    
    &__name {
        text-align: center;
        font-size: 20px;
        text-transform: capitalize;
        
    }

    &__price {

        font-size: 25px;
        justify-content: flex-start;
    }
   


    



}