<div class="game" *ngIf="games">
  <a (click)="openModalDetail(games)" class="game__link">
    <img class="game__link__image" src="{{ games.cover }}" alt="" />
  </a>

  <p class="game__name">{{ games.name }}</p>
  <p class="game__price">{{ games.price }} €</p>
</div>
